<!DOCTYPE html>
	<head>
		<title>Tallkeith's Esty app</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="main">
			<img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Etsy_logo.png">
			<form class="searchBar">
			  <input type="text" name="Search" value="Search for items or shops">
			  <input type="submit" value="Search">
			</form>

			<hr>

			<ul class="search-results">
				<% results.each do |item|%>
					<li class="etsy-item"><%= item.price %><li>
				<%end%>

			</ul>
			<%= results %>

		</div>
	</body>

</html>