<!DOCTYPE html>
	<head>
		<title>Tallkeith's Esty app</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<img src="https://www.etsy.com/?ref=lgo">
		
		<nav></nav>
		



	</body>

</html>